@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#f2f2f2] text-[#2d2d2d] font-sans antialiased;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold text-[#2d2d2d];
    }
}